* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tags */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 96px;
    line-height: 100px;
    font-weight: 800;
    color: white;
}

/* h1-text-fill-orange */
.h1-text-fill-orange {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: thin RGB(234, 88, 12);
    opacity: .1;
    font-size: 120px;
    position: absolute;
    top: 150px;
    left: 0;
    line-height: 104px;
}

/* all-margin */
.all-margin {
    background-color: black;
    height: 100vh;
    width: 100%;
    padding-left: 2.5em;
    padding-top: 3em;
    position: relative;


}

/* background-1 */
.header-apresentation {

    height: 93.5vh;
    background-image: url(/assets/img/tatto-apresentation-mobile.jpeg);
    background-size: cover;
    background-repeat: no-repeat
}

/* main-header */
.main-header {
    /* background-color: aquamarine; */
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

}

/* h1 principal*/
.h1-principal {
    margin-bottom: 0.50em;
    border-bottom: 1px solid RGB(234, 88, 12);
    border-bottom-right-radius: -20px;
    padding-bottom: .50em;



}

/* main-header p */
.main-header p {
    margin-bottom: 3em;
    color: white;
}

/* main-header button */
.main-header button {}