* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;

}

html {
    scroll-behavior: smooth;
}

main {
    box-sizing: border-box;
    position: relative;

}

/* tags */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 96px;
    line-height: 100px;
    font-weight: 800;
    color: white;
}

/* h1-text-fill-orange */
.h1-text-fill-orange {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: thin RGB(234, 88, 12);
    opacity: .1;
    font-size: 120px;
    position: absolute;
    top: 20%;
    left: 0;
    /* background-color: green; */
    line-height: 104px;
}

/* menu-bar-desktop */
.menu-bar-desktop {
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    position: fixed;
    top: 0;
    align-items: center;
    border-bottom: 2px solid RGBA(234, 88, 12, 0.3);
    z-index: 999;
    color: white;
    padding-right: 20em;
}

/* menu-bar-desktop-ul */
.menu-bar-desktop ul {
    display: flex;
    justify-content: space-between;
    margin-left: 30em;
    align-items: center;


}

.menu-bar-desktop ul li {
    list-style: none;
    margin-left: 2em;
    font-size: 19px;

}

/* menu-bar-desktop a */
.menu-bar-desktop a {
    text-decoration: none;
    color: #7C2D12;
    cursor: pointer;
}

.menu-bar-desktop a:hover {
    color: #b73b12;
}

/* orcamento-desktop-nav */


.menu-bar-desktop button {
    margin-left: 3em;
    background-color: black;
    padding: .70em;
    border: 1px solid #b73b12;
    padding-left: 2.20em;
    padding-right: 2.20em;

}

/* nav-menu */
.nav-menu {
    width: 99%;
    box-sizing: border-box;
    background-color: black;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    position: fixed;
    top: 0;
    align-items: center;
    border-bottom: 2px solid RGBA(234, 88, 12, 0.3);
    z-index: 999;
    display: none;
}

/* navmenu i */


/* logo-header-navbar */
.logo-header-navbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    border-bottom: 2px solid RGB(0, 0, 0);
    color: RGB(255, 255, 255);
}

/* logo-header-navbar img */
.logo-header-navbar img {
    margin-right: .80em;
}

/* header-navbar p,li */
.header-navbar .forest {
    font-family: 'Playfair Display', serif;
    color: white;

}

/* header-navbar */
.header-navbar {
    width: 100%;
    height: 110vh;
    position: fixed;
    background-color: RGB(234, 88, 12);
    z-index: 999;
    /* NAVBAR DESATIVADO!!!!! */
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0.98;

}

#menunav {
    /* display: none; */

}



/* header-navbar li */
.header-navbar li {
    display: flex;
    justify-content: left;
    padding-left: 1.30em;
    padding-top: 2.50em;


}

/* header-navbar a */
.header-navbar a {
    list-style: none;
    text-decoration: none;
    color: RGB(255, 255, 255);
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid RGB(255, 255, 255);

}

.navbar-orcamento {

    display: flex;
    align-items: center;
    padding-top: 10em;
    padding-left: 1.50em;
    color: RGB(124, 45, 18);

}


/* navbar-orçamento p */
.navbar-orcamento span {
    font-size: 25.26px;
    margin-left: .50em;
    font-family: 'Montserrat', sans-serif;

}

.navbar-orcamento p,
img :hover {
    cursor: pointer;
}






/* logo-forest-svg*/
.logo-forest-svg {
    height: 6em;
    position: absolute;
    left: 30px;

}

/* vector-svg-menu-mobile */
.vector-svg-menu-mobile {
    height: 1.50em;
    position: absolute;
    right: 3em;
    cursor: pointer;
}

/* background-1 */
.header-apresentation {
    padding-right: 1em;
    width: 93%;
    max-width: 100%;
    box-sizing: border-box;
    height: 100vh;
    /* background-color: red; */


}



/* main-header */
.main-header {
    background-image: url(/assets/img/tatto-apresentation-mobile.jpeg);

    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    margin-left: 3em;
    margin-right: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;



}

/* main-header-text-button-box */
.main-header-text-button-box {}

/* main-header-p-box */
.main-header-p-box {
    width: 95%;
    flex-direction: row;
    line-height: 1.20em;

    margin-top: 3.50em;

}

/* main.header p e button */
.main-header p,
button,
a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /* margin-bottom: 1em; */
}

.forest-ink-text {
    position: relative;
    /* background-color: rgb(189, 185, 185); */
    height: 40%;
    top: 5em;
}


/* h1 principal*/
.h1-principal {
    /* margin-bottom: 0.50em; */
    /* border-bottom: 1px solid RGBA(234, 88, 12, 0.3); */
    /* position: absolute; */
    padding-bottom: .50em;
    top: .99em;
}



/* main-header p */
.main-header p {
    margin-bottom: .0em;
    color: white;

}

/* button-box */
.button-box {
    /* position: relative; */

}

.button-box a {
    text-decoration: none;

    color: RGB(234, 88, 12);
}



/* main-header button */
.main-header button {
    width: 155px;
    background-color: transparent;
    color: RGB(234, 88, 12);
    border: 2px solid RGB(234, 88, 12);
    padding: .70em;
    max-width: 50%;
    margin-top: .80em;
    display: flex;
    align-items: center;

    /* list-style: none; */
    justify-content: space-between;


}

button :hover {
    cursor: pointer;
}

/* main-svg-arrow */
.main-svg-arrow {

    width: 90%;
    text-align: center;
    padding-top: 6em;
    position: relative;
    /* top: 6em; */



}

.main-svg-arrow a {
    /* position: absolute; */
    /* bottom: 0; */

}

/* tatto-main */
.tatto-main {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/img/coming-soon-bg-3\ 2.png);

    background-size: cover;
    background-repeat: repeat;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;

    margin-left: 3em;
    margin-right: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

/* tatto-main-content */
.tatto-main-content {
    width: 100%;
    height: 80vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;




}

/* TATTO main FILHO */
/* galery-container */
/* .galery-container {
    width: 100%;
    padding: 50px 0;
}

.filho {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 20px 20px;

}

.galery-container .neto a {
    padding: 10px;
}

.galery-container .neto {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    z-index: 999;
}

.galery-container .image {
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}

.galery-container .image img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    border-radius: 10px;
}

.galery-container .image img :hover {
    transform: scale(1.5);
} */
.gallery img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.gallery {
    background-color: red;
    column-count: 4;
    column-gap: 10px;

}

/* tatto-main-content h1 */
.tatto-main-content h1 {
    font-size: 60px;
    border-bottom: 2px solid RGB(102, 102, 102);
    margin-bottom: .50em;
    width: 55%;
    margin-left: .20em;

}

/* tatto-main-content p */
.tatto-main-content p {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2em;
}

/* tatto-main-content a */
.tatto-main-content a {
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    color: RGB(234, 88, 12);
    border: 1px solid RGB(234, 88, 12);
    padding: 1em;
    display: flex;
    width: 8em;
    max-width: 9em;
    padding-right: -4em;
}

/* tatto-main-content img */
/* .tatto-main-content img {
    margin-left: 1em;

} */

/* sessao piercing */

/* piercing-main */
.piercing-main {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/img/img_sessao_piercing.png);

    background-size: cover;
    background-repeat: repeat;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;

    margin-left: 3em;
    margin-right: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

/* piercing-main-content */
.piercing-main-content {
    width: 100%;
    height: 80vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* piercing-main-content-h1 */
.piercing-main-content h1 {
    font-size: 60px;
    border-bottom: 2px solid RGB(102, 102, 102);
    margin-bottom: .50em;
    width: 55%;
    margin-left: .20em;

}

/* piercing-main-content p */
.piercing-main-content p {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2em;
}

/* piercing-main-content a */
.piercing-main-content a {
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    color: RGB(234, 88, 12);
    border: 1px solid RGB(234, 88, 12);
    padding: 1em;
    display: flex;
    width: 8em;
    max-width: 9em;
    padding-right: -4em;
}

/* piercing-main-content img */
.piercing-main-content img {
    margin-left: 1em;
}

/* sessao contato */

/* contato */
.contato {
    height: 90vh;
    width: 100%;
    /* background-color: red; */
    margin-left: 3em;
}

/* contato-main-content */
.contato-main-content {
    width: 100%;
    height: 90vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: top;
}

/* contato-main-content h1 */
.contato-main-content h1 {
    font-size: 60px;
}

/* mapbox */
.mapbox {
    width: 100%;
    height: 80vh;
    background-color: black;
}

/* mapbox p */
.mapbox p {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em;
}

/* mobile-phone */

.mobile-phone {
    display: flex;
    /* background-color: red; */
    margin-top: 2em;

    align-items: center;
}

/* mobile-phone img */
.mobile-phone img {
    margin-right: 2vw;
}

/* mobile-phone p */
.mobile-phone p {
    color: RGB(234, 88, 12);
    margin-top: -.10em;
}

/* carousel-tatto */
.carousel-tatto {
    /* height: 100vh; */
    /* width: 95%; */
    /* background-color: RGB(234, 88, 12); */
    margin-left: auto;
    padding: 0 2em;
    margin-right: auto;
    background-image: url(/assets/img/coming-soon-bg-3\ 2.png);
    background-size: cover;
    background-position: center;





}

.item {

    display: flex;
    justify-content: center;
}

/* carousel-tatto p */

.carousel-tatto p {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: white;

}

/* .owl-carousel img {
    height: 73.50vh;
    max-width: 346px;
    min-width: 345px;
    border-radius: 5px;


} */

.owl-carousel span {
    color: RGB(234, 88, 12);
    font-size: 2.80em;



}

/* owl-nav */
.owl-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    display: none;

}



/* owl-dots */
.owl-dots {
    display: none;
}

/* carousel-piercing */

/* carousel-piercing */
.carousel-piercing {
    height: 100vh;
    width: 95%;
    /* background-color: RGB(234, 88, 12); */
    margin-left: auto;
    padding: 0 2em;
    margin-right: auto;
    background-image: url(/assets/img/coming-soon-bg-3\ 2.png);
    background-size: cover;
    background-position: center;





}

/* carousel-tatto p */

.carousel-piercing p {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: white;

}

/* .owl-carousel img {
    height: 73.50vh;
    max-width: 346px;
    border-radius: 5px;

} */

.owl-carousel span {
    color: RGB(234, 88, 12);
    font-size: 2.80em;



}

/* owl-nav */
.owl-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;

}

/* owl-dots */
.owl-dots {
    display: none;
}